div#memory_board{
	width:320px;
	/* height:540px; */
	display: grid;
	grid-template-columns: auto auto auto auto;
}
div#memory_board > div{
	border: black 1px solid;
	width:80px;
	height:80px;
	/* float:left; */
	/* margin:10px;
	padding:20px; */
	font-size:50px;
	text-align:center;
	vertical-align: middle;
	/* display: block; */
	/* border: none; */
}